body {
  background: url(https://raw.githubusercontent.com/subtlepatterns/SubtlePatterns/gh-pages/retina_wood.png);
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  color:#333;
}

#resume {
  background:white;
}

.left-col {
  background: #e6e6e6;
}

header,
footer {
  padding: 2em 0;
  background: #333;
  color: #fff;
}

.name-outline {
  border: 2px solid #fff;
}
